@model MVCAddressBook.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" class="contact-form ml-3 mt-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row flex-column m-0">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="w-80" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="row flex-column m-0">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="w-80" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="row m-0 justify-content-between w-80 ">
        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="w-100" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Landline"></label>
            <input asp-for="Landline" class="w-100" />
            <span asp-validation-for="Landline" class="text-danger"></span>
        </div>
    </div>
    <div class="row flex-column m-0">
        <label asp-for="Website"></label>
        <input asp-for="Website" class="w-80" />
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>
    <div class="row flex-column m-0">
        <label asp-for="Address"></label>
        <textarea asp-for="Address" class="w-80 h-100px"> </textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="row m-0 d-flex justify-content-end mr-3 mt-3 mb-5">
        <input type="submit" class="add-button"value="Add" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
